<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Kohana framework {{ page.title }}</title>
    <meta name="keywords" content="kf7, kohana7, kohana, framework, php">
    <meta name="description" content="Kohana framework">
    <link rel="canonical" href="https://kf7.github.io">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="/assets/css/style.css?v=c11ef3937ec2d052f6f50c9ec224fbe74d3b7510">
    <style>
      .page-header {padding: 1rem;}
      .project-name {font-size: 2.5rem; text-shadow: 1px 1px 2px #000;}
      .site-footer-credits {text-align: center; padding:.25rem 1rem; font-size: 90%;}
    </style>
  </head>
  <body>
    <header class="page-header">
      <h1 class="project-name">Kohana framework</h1>
    </header>

     <main class="main-content">
        {{ content }}
     </main>

      <footer class="site-footer">
        <div class="site-footer-credits">(c) Kohana team</div>
      </footer>
  </body>
</html>
